<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="autobike.stanley.idv.android_autobike_v7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android6_notext"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVnMgEdHLGK-dvXG-9zr7ZGvZZ0FTW12M" />

        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.LoginNormalActivity" />
        <activity android:name=".login.LoginNormalRegisterActivity" />
        <activity android:name=".navigationlayout.Navi_Rent_List_Detail_Page" />
        <activity android:name=".navigationlayout.Navi_Change_Member_Data" />
        <activity android:name=".navigationlayout.Navi_Sell_List_Detail_Page" />
        <activity android:name=".tab.rentbike.Tab_RentBike_SearchResult" />
        <activity android:name=".tab.rentbike.Tab_RentBike_Detail" />
        <activity android:name=".tab.rentbike.Tab_RentBike_Detail_Confirm" />
        <activity android:name=".tab.sellBike.Tab_SellBike_detail" />
        <activity android:name=".tab.rentbike.Tab_RentBike_Pay" />
        <activity android:name=".tab.sellBike.tab_sell_bike_pay"></activity>
    </application>

</manifest>